gitpython>=2.1  # For logging metadata.
pillow
imageio
scipy
matplotlib
gym==0.21.0
gym[accept-rom-license]==0.21.0
gym[atari]==0.21.0 
## Wrappers
opencv-python  # for atari
## dev packages
flake8
black
pre-commit
